streamlit>=1.8.1
numpy
pandas
jinja2
base58
numpy
pillow
scikit-learn
dataprep
seaborn
pillow
# plotly==4.14.1
# lazypredict==0.2.7
# matplotlib==3.3.3
# xgboost==1.1.1
# lightgbm==2.3.1
# pytest==5.4.3
# tqdm==4.56.0